:root {
  --offWhite:#ACEDED ;
  --dark:#4EBABA;
  --accent:#2E9C9C ;
  --contrast: #FFCE6B;
  --contrast-accent: #FFC34C;
  --my-red: #FF6B6B;
  --my-red-accent: #FF4C4C:
}


body {
  background: #fcc;
  padding: 0px;
  margin: 0px;
  transition: all 0.5s ease-in-out;


  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 
    60px
    1fr
    20vh;
  grid-template-areas:
    "header "
    "content "
    "footer  ";
}

header {
  position: sticky;
  top:0;
  grid-area:header;
  background-color: black; 
  font-weight: bold;
  font-size: 40px;  
  white-space: nowrap;
}

#navbutton{
  position: fixed;
  padding-left: 10px;
  font-size: 40px;
  color: white;
  z-index: 1;
}

.profileIcon{
  
}

nav {
  transition: all 0.5s ease-in-out;
  grid-area: nav;
  display: inline-flex;
  flex-direction: column;
  background: #555;
  clear: both;
  width:0px;
  position: fixed;
  top:0;
  left:0;
  overflow-x: hidden;
  height: 100vh;
  box-shadow: 2px 0px 10px #000000;
}

nav a {
  padding: 1.25em 1.5em;
  color: #ccc;
  text-decoration: none;
  width:inherit;
  box-sizing: border-box;
  width: 50vw;
}

nav .machineCount{
  position: absolute;
  bottom: 0px;
  padding: 1.25em 1.5em;
  color: #ccc;
  width: 50vw;
  box-sizing: border-box;
  border-top: 1px black solid;
}

#machineIndicator{
  width: 10px;
  height: 10px;
}

nav a:hover{
  background: black;
  color: white;
}


section{
  grid-area: content;
  padding: 10px;
  background-color: yellowgreen;
  white-space: nowrap;
  overflow:hidden;
}


#tables table {
  border: 1px solid black;
}

#tables table td{
  border: 1px solid black;
  padding: 10px;
}

.barchart{
  width: 500px;
  height:500px;
  border: black 1px solid;
}

footer{
  grid-area: footer;
  background: mintcream;
}

/* togglable classes */
.nav-open {
  width: 50vw;

}

.menu-open{
  margin-left: 50vw;

}


@media screen and (min-width: 500px) {
  body{ 
    background: purple;
  }
}

@media screen and (min-width: 1000px) {
  body{ 
    background: red;
  }
}
