:root {
  --offWhite:#ACEDED ;
  --dark:#4EBABA;
  --accent:#2E9C9C ;
  --contrast: #FFCE6B;
  --contrast-accent: #FFC34C;
  --my-red: #FF6B6B;
  --my-red-accent: #FF4C4C;
}


body {
  background: #000;
  padding: 0px;
  margin: 0px;
  transition: all 0.5s ease-in-out;


  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.grid{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    60px
    1fr
    20vh;
  grid-template-areas:
    "header "
    "content "
    "footer  ";

}

header {

  grid-area:header;
  background-color: black;
  font-weight: bold;
  font-size: 40px;
  white-space: nowrap;
  overflow:hidden;
}




#navbutton{
  float:left;
  padding-left: 10px;
  font-size: 40px;
  color: white;
  z-index: 1;

}

.avatar{
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* navigation side bar styling */

nav {
  transition: all 0.5s ease-in-out;
  grid-area: nav;
  display: inline-flex;
  flex-direction: column;
  background: #555;
  clear: both;
  width:0px;
  position: fixed;
  top:0;
  left:0;
  z-index: 1;
  overflow-x: hidden;
  height: 100vh;
  box-shadow: 2px 0px 10px #000000;
}

nav a {
  padding: 1.25em 1.5em;
  color: #ccc;
  text-decoration: none;
  width:inherit;
  box-sizing: border-box;
  width: 50vw;
}

nav .machineCount{
  position: absolute;
  bottom: 0px;
  padding: 1.25em 1.5em;
  color: #ccc;
  width: 50vw;
  box-sizing: border-box;
  border-top: 1px black solid;
}

#machineIndicator{
  width: 10px;
  height: 10px;
}

nav a:hover{
  background: black;
  color: white;
}

/* main body content */
.subheading {
  grid-area: subheader;
  font-size: 20px;
  padding: 10px;
  background: white;
}



.content{
  grid-area: content;
  display: inline-flex;
  flex-direction: column;
  background-color: white;
  white-space: nowrap;
  overflow:hidden;

}

/* -------------------------button stylin-------------------------g*/

.button {
  padding: 15px 25px;
	text-align: center;
  color: white;
  border:0;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
  margin: 10px;
}

.button:active{ transform: translateY(3px);}

.dark{background: var(--dark); box-shadow: 0 6px var(--accent);}
.dark:active{ box-shadow: 0 3px var(--accent); }

.contrast{background: var(--contrast); box-shadow: 0 6px var(--contrast-accent);}
.contrast:active{box-shadow: 0 3px var(--contrast);}

.red{background: var(--my-red); box-shadow: 0 6px var(--my-red-accent);}
.red:active{ box-shadow: 0 3px var(--my-red-accent);}

.square{
  width: 150px;
  height: 150px;
}
.small{
  font-size: 12px;
  padding: 8px 12px;
}
.wide{
  width: 150px;
}


/* -------------------------feed styling-------------------------g*/
#refresh-feed{
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.feed-item{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:
    40px
    180px
    40px;
  grid-template-areas:
    "label label"
    "graph table"
    "info info";
  padding: 0;
  margin: 10px;
}

.feed {
  padding: 10px;
  border: 1px solid var(--accent);
}
.label{
  grid-area: label;
  background: var(--accent);
  border-bottom: 2px solid var(--dark);
}
.graph{
  grid-area: graph;
  background: white;
  margin: 0;
  overflow: hidden;
}
.table{
  grid-area: table;
  background: white;
  margin: 0;
}
.info{
  grid-area: info;
  background: var(--offWhite);
}
/* -------------------------upload styling-------------------------g*/
.button-box{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding:0px 0px;

}

/* table styling */

#tables table {
  border: 1px solid black;
}

#tables table td{
  border: 1px solid black;
  padding: 10px;
}

.barchart{
  width: 100%;
  height:500px;

}

footer{
  grid-area: footer;
  background: mintcream;
}

/* togglable classes */
.nav-open {
  width: 50vw;
}

/* -------------------------profile styling-------------------------g*/
.tab-bar{
  display: flex;
  flex-direction: row;
}

.panel {
	display: none;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	background: #efefef;
	box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}

.input {
	display: none;
}

.label {
	width: 100%;
	padding: 20px 30px;
	background: #e5e5e5;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	color: #7f7f7f;
	transition: background 0.1s, color 0.1s;
}

.input:checked + .label {
	background: #fff;
	color: #000;
}

.input:checked + .label + .panel {
	display: block;
}



@media screen and (min-width: 500px) {
  body{
    background: purple;
  }
}

@media screen and (min-width: 1000px) {
  body{
    background: red;
  }
}
